@using CloudBlue.Domain.DomainModels
@inject DialogService DialogService

<style>
    .rz-alert-md {
        --rz-alert-gap: 0.2rem !important;
        --rz-alert-margin: 0.2rem  !important;
        --rz-alert-padding: 0.2rem !important;
        --rz-alert-message-margin: 0.2rem !important;
        --rz-alert-icon-margin: 0.2rem !important;
    }

    .rz-row {
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }
</style>
<RadzenStack Gap="0.25rem">
    <Spinners></Spinners>

    <RadzenRow Visible="_showQuestion" JustifyContent="JustifyContent.Center" lignItems="AlignItems.Center">
        <RadzenAlert   AllowClose="false" AlertStyle="AlertStyle.Danger" Variant="Variant.Flat" Shade="Shade.Lighter">
            @QuestionMessage
        </RadzenAlert>
        
    </RadzenRow>

    <RadzenTemplateForm TItem="PrimeTcrEntityActionModel" Data="@_model" Submit="@ApplyActionAsync">


        <RadzenFieldset AllowCollapse="false">

            <ChildContent>


                <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">


                    <RadzenColumn Size="12" SizeMD="8">


                        <RadzenDataGrid Style="height: 110px" GridLines="DataGridGridLines.Both" Data="@_results" @ref="_grid"
                                        Count="@_results.Count" TItem="EntityActionResult">

                            <Columns>
                                <RadzenDataGridColumn TextAlign="TextAlign.Center" Width="20%" Filterable="false" Sortable="true" TItem="EntityActionResult" Property="@nameof(EntityActionResult.ItemId)" Title="Id">

                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TextAlign="TextAlign.Center" TItem="EntityActionResult" Filterable="false" Visible="@_isResponse" Property="@nameof(EntityActionResult.ActionResult)" Sortable="true" Title="Applicable" Width="20%">
                                    <Template Context="bulkActionResult">
                                        @{
                                            var path = $"/images/{bulkActionResult.ActionResult}.png";
                                        }

                                        <RadzenImage Style="height: 20px; width: 20px;" Path="@path"></RadzenImage>


                                    </template>
                                </RadzenDataGridColumn>

                                <RadzenDataGridColumn TextAlign="TextAlign.Center" Width="60%" TItem="EntityActionResult" Filterable="false" Property="@nameof(EntityActionResult.Message)" Sortable="true" Title="Notes">
                                    <Template Context="bulkActionResult">
                                        @{
                                            var badgeStyle = _isResponse ? bulkActionResult.ActionResult ? BadgeStyle.Success : BadgeStyle.Danger : bulkActionResult.ActionResult ? BadgeStyle.Info : BadgeStyle.Warning;
                                        }

                                        <RadzenBadge Shade="Shade.Dark" BadgeStyle="@badgeStyle" Variant="Variant.Outlined" Text="@bulkActionResult.Message"/>


                                    </Template>
                                </RadzenDataGridColumn>


                            </Columns>


                        </RadzenDataGrid>
                    </RadzenColumn>


                </RadzenRow>


            </ChildContent>
        </RadzenFieldset>


         <RadzenFieldset AllowCollapse="false">

            <HeaderTemplate>
              @*   <RadzenStack Orientation="Orientation.Horizontal" Gap="0.25rem">

                    <b>
                        <span class="titleSpan">@dropDownTitle</span>
                    </b>
                </RadzenStack> *@
            </HeaderTemplate>

            <ChildContent>


                <RadzenRow Visible="@_showSingleDropDown" JustifyContent="JustifyContent.Center" lignItems="AlignItems.Center">
                     <RadzenColumn Size="12" SizeMD="3">
                         </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="6">
                        <RadzenFormField Text="@_firstDropDownTitle" Variant="Variant.Outlined" Style="width: 100%;">

                            <RadzenDropDown AllowClear="true" Name="SelectedItemId" @bind-Value="@_model.SelectedItemId" Data="@_firstDropDownItems" TextProperty="ItemName" ValueProperty="ItemId" Placeholder="Select One" Style="width: 100%;"/>
                            <RadzenDataAnnotationValidator Popup="true" Style="position: absolute" Component="SelectedItemId" ComponentProperty="Value"/>

                        </RadzenFormField>


                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="3">
                         </RadzenColumn>

                </RadzenRow>


   <RadzenRow Visible="@_showTwoDropDown" JustifyContent="JustifyContent.Center" lignItems="AlignItems.Center">
                    
                    <RadzenColumn Size="12" SizeMD="6">
                        <RadzenFormField Text="@_firstDropDownTitle" Variant="Variant.Outlined" Style="width: 100%;">

                            <RadzenDropDown AllowClear="true" Name="KnowSourceId" change="FirstDropDownChange"
 @bind-Value="@_model.KnowSourceId" Data="@_firstDropDownItems" TextProperty="ItemName" ValueProperty="ItemId" Placeholder="Select One" Style="width: 100%;"/>
                            <RadzenDataAnnotationValidator Popup="true" Style="position: absolute" Component="KnowSourceId" ComponentProperty="Value"/>

                        </RadzenFormField>


                    </RadzenColumn>
                   <RadzenColumn Size="12" SizeMD="6">
                        <RadzenFormField Text="@_secondDropDownTitle" Variant="Variant.Outlined" Style="width: 100%;">

                            <RadzenDropDown AllowClear="true" Name="KnowSubSourceId" @bind-Value="@_model.KnowSubSourceId" Data="@_firstDropDownItems" TextProperty="ItemName" ValueProperty="ItemId" Placeholder="Select One" Style="width: 100%;"/>
                           
                        </RadzenFormField>


                    </RadzenColumn>

                </RadzenRow>







<RadzenRow JustifyContent="JustifyContent.Center" Visible="@_showDatePicker" lignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="3">
                         </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="6">
                        <RadzenFormField Text="@_dateTitle" Variant="Variant.Outlined" Style="width: 100%;">
                            <RadzenDatePicker Name="GenericDate" @bind-Value="@_model.GenericDate"  AllowClear="true"  AllowInput="false"  Style="width: 100%;" ShowTime="true" Format="dd/MM/yyyy HH:mm"/>

                            <RadzenDataAnnotationValidator Popup="true" Style="position: absolute" Component="GenericDate" ComponentProperty="Value"/>

                        </RadzenFormField>

                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="3">
                         </RadzenColumn>
                </RadzenRow>
             
                 

                
<RadzenRow JustifyContent="JustifyContent.Center" Visible="@_showNumeric" lignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="3">
                         </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="6">
                        <RadzenFormField Text="@_numericTitle" Variant="Variant.Outlined" Style="width: 100%;">
                                <RadzenNumeric Name="NumericValue" @bind-Value="@_model.NumericValue"/>
                            <RadzenDataAnnotationValidator Popup="true" Style="position: absolute" Component="NumericValue"/>


                        </RadzenFormField>

                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="3">
                         </RadzenColumn>
                </RadzenRow>
             

                
<RadzenRow JustifyContent="JustifyContent.Center" Visible="@_showUploadFile" lignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="3">
                         </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="6">
                        <RadzenFormField Text="@_numericTitle" Variant="Variant.Outlined" Style="width: 100%;">
                            
                            <InputFile OnChange="HandleFileSelected" />
                             <span style="color:red;display:@_showFileError" >Please Select File</span>

                        </RadzenFormField>

                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="3">
                         </RadzenColumn>
                </RadzenRow>
     
                
                
<RadzenRow JustifyContent="JustifyContent.Center" Visible="@_showStringValue" lignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="3">
                         </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="6">
                        <RadzenFormField Text="@_stringTitle" Variant="Variant.Outlined" Style="width: 100%;">
                            <RadzenTextBox style="display: block; width: 100%" @bind-Value="@_model.StringValue" Name="StringValue"/>

                <RadzenDataAnnotationValidator Popup="true" Style="position: absolute" Component="StringValue" ComponentProperty="Value"/>


                        </RadzenFormField>

                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="3">
                         </RadzenColumn>
                </RadzenRow>
             





                <RadzenRow JustifyContent="JustifyContent.Center" Visible="@_showComment" lignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="2">
                         </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="8">
                        <RadzenFormField Text="@_commentTitle" Variant="Variant.Outlined" Style="width: 100%;">
                            <RadzenTextArea Name="Comment" @bind-Value="@_model.Comment" Style="width: 100%;" Multiline="true" Rows="3"/>
                            <RadzenDataAnnotationValidator Popup="true" Style="position: absolute" Component="Comment" ComponentProperty="Value"/>
                        </RadzenFormField>

                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="2">
                         </RadzenColumn>
                </RadzenRow>







            </ChildContent>
        </RadzenFieldset>
 

        <RadzenRow JustifyContent="JustifyContent.Center" lignItems="AlignItems.Center" Style="margin-top: 20px !important">
            <RadzenButton ButtonType="ButtonType.Submit" Disabled="@_isResponse" Text="Apply" Style="width: 80px;"/>
            <RadzenButton Text="Close" Click="@Close" ButtonStyle="ButtonStyle.Light"/>
        </RadzenRow>


    </RadzenTemplateForm>
</RadzenStack>